body {
    font: 14px Arial, sans-serif;
    margin: 0px;
}

.header {
    padding: 10px 20px;
    background: #acb3b9;
}

.header h1 {
    font-size: 24px;
}

.container {
    width: 100%;
    background: #f2f2f2;
}

.nav,
.section {
    float: left;
    padding: 20px;
    min-height: 170px;
    box-sizing: border-box;
}

.nav {
    height: (100vh - 48px);
    background: #d4d7dc;
}

.section {
    min-width: 1000px;
}

.nav ul {
    list-style: none;
    line-height: 24px;
    padding: 0px;
}

.nav ul li a {
    color: #333;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.footer {
    background: #acb3b9;
    text-align: center;
    padding: 5px;
}

.tableFixHead {
    height: 500px;
    width: 450px;
    overflow-y: auto;
    display: block;
}

.tableFixHead th { 
    position: sticky;
    top: 0;
}

tr:nth-of-type(2n) {
    border: 1px solid black;
    background-color: rgba(150, 150, 150, 0.5);
}

td, th {
    padding: 8px 8px;
    border: 1px solid black;
}

th {
    background: #d4d7dc;
    font-weight: bold;
    text-align: left;
}

.btn {
    width: 62px;
}