scikit-learn
scipy==1.4.*
tensorflow-estimator==2.1.*
tensorflow==2.11.1
matplotlib
pydot
graphviz
numpy<=1.19.3
pandas
pandas-profiling>=2.6.0
pytables
faker==11.3.0
zeep
xmltodict
toml
flask
seaborn
lime
imbalanced-learn
twilio