<html>

<head>
    <title>RAdAC</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript">

function getDocHeight(doc) {
            doc = doc || document;
            // from http://stackoverflow.com/questions/1145850/get-height-of-entire-document-with-javascript
            var body = doc.body, html = doc.documentElement;
            var height = Math.max(body.scrollHeight, body.offsetHeight,
                html.clientHeight, html.scrollHeight, html.offsetHeight);
            return height;
        }

        function setIframeHeight(id) {
            var ifrm = document.getElementById(id);
            var doc = ifrm.contentDocument ? ifrm.contentDocument : ifrm.contentWindow.document;
            ifrm.style.visibility = 'hidden';
            ifrm.style.height = "10px"; // reset to minimal height in case going from longer to shorter doc
            // some IE versions need a bit added or scrollbar appears
            ifrm.style.height = getDocHeight(doc) + 4 + "px";
            ifrm.style.visibility = 'visible';
        }
        
        function getDocWidth(doc) {
            doc = doc || document;
            // from http://stackoverflow.com/questions/1145850/get-height-of-entire-document-with-javascript
            var body = doc.body, html = doc.documentElement;
            var width = Math.max(body.scrollWidth, body.offsetWidth,
                html.clientWidth, html.scrollWidth, html.offsetWidth);
            return width;
        }

        function setIframeWidth(id) {
            var ifrm = document.getElementById(id);
            var doc = ifrm.contentDocument ? ifrm.contentDocument : ifrm.contentWindow.document;
            ifrm.style.visibility = 'hidden';
            ifrm.style.width = "10px"; // reset to minimal height in case going from longer to shorter doc
            // some IE versions need a bit added or scrollbar appears
            ifrm.style.width = getDocWidth(doc) + 24 + "px";
            ifrm.style.visibility = 'visible';
        }
    </script>

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Prediction Explorer ({{dataset}})</h1>
        </div>
        <div id="wrapper" class="wrapper clearfix" >
            <div id="nav" class="nav">
                <h1>Select Row</h1>
                <iframe id="rowselect" name="rowselect" src="rowselect" width="100%"  style="border:none;"
                    onload="setIframeHeight(this.id)"></iframe>
                <br>
                <br>
                <iframe id="samplemod" name="samplemod" src="samplemod" style="border:none;"
                onload="setIframeWidth(this.id); setIframeHeight(this.id)"></iframe>
            </div>
            <div id="section" class="section">
                <h1>Model Predictions</h1>
                <h2>Original Sample</h2>
                <iframe id="expo" name="expo" src="explanation" width="100%" style="border:none;" height="300px">></iframe>
                <br>
                <h2>Modified Sample</h2>
                <iframe id="expm" name="expm" src="/static/no_exp.html" width="100%" style="border:none;" height="300px"></iframe>
            </div>
        </div>
        <div class="footer">
            <p>© 2021 Ramon Houtsma</p>
        </div>
    </div>
</body>

</html>