<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">
</head>


<body>
    <h2>Feature Selection (Row: {{rowidx}})</h2>
    <form id="samplemod" action="/samplemod" method="POST">
        <table class="tableFixHead" style="margin-left: 20px; margin-right: 20px">
            <tr>
                <th>Feature</th>
                <th>Original</th>
                <th>Modified</th>
                <th><input type="button" id="rstButton" onclick="reload('samplemod')" class="btn" value="Reset"><br>
                    <input type="submit" id="btnSubmit" class="btn" value="Submit"></th>
            </tr>

            {%for i in range(0, len)%}
            <tr>
                <td>{{feature_names[i]}}</td>
                <td>{{instance[i]}}</td>
                <td><input type="number" id="{{i}}" name="{{i}}" value="{{instance[i]}}" min="0"
                        style="font-size: 14px; width: 50px;"></td>
            </tr>
            {%endfor%}
        </table>
    </form>
</body>

<script>
    function XMLPost(form) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        jsonstr = {};
        for (var i = 0; i < {{ len }}; i++) { 
            jsonstr[i] = document.getElementById(i).value;
        };
        xhr.send(JSON.stringify(jsonstr));
    }
    let form = document.getElementById("samplemod")
    form.addEventListener("submit", evt => {
        event.preventDefault();
        XMLPost(form)
        delayedReload('expm', 250);
    })
    function delayedReload(iframe, delay) {
        setTimeout(() => { reload(iframe) }, delay)
    }
    function reload(iframe) {
        if (iframe == 'expo' || iframe == 'expm') {
            parent.document.getElementById(iframe).src = "/explanation" + "/" + String(Math.floor(Math.random() * 100000));
        } else {
            parent.document.getElementById(iframe).src = parent.document.getElementById(iframe).src;
        }
    }
</script>

</html>